ion-content.background{
    --background: url(../../assets/pkmarchepa.png);
    --ion-background-color: transparent;
}

.title_card{
    font-size: small;
}

.grandtitre{
    font-size: large;
    text-align: center;
    font-weight:bold;
}

ion-card-content {
    padding: 5%;
}

ion-slide {
    margin-right:0px;
    padding:0;
}