ion-content.background{
    --background: url(../../assets/test.png);
    --ion-background-color: transparent;
}

.title_card{
    font-size: small;
}

.grandtitre{
    font-size: large;
    text-align: center;
    font-weight:bold;
}